.vscode/**
.vscode-test/**
src/*.ts
src/*.js
test/**
vitest.config.ts
.gitignore
.yarnrc
vsc-extension-quick-start.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
node_modules/**
out/test/**
out/**/*.map
*.vsix
package-lock.json
